#Data Preprocessing

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
%cd /content/drive/My Drive/Assignment-1/

/content/drive/My Drive/Assignment-1

In [ ]:
df = pd.read_csv("crx.csv")
df2 = df
df2

,att1,att2,att3,att4,att5,att6,att7,att8,att9,att10,att11,att12,att13,att14,att15,label
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,202,0,+
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,43,560,+
2,a,24.5,0.500,u,g,q,h,1.50,t,f,0,f,g,280,824,+
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,100,3,+
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,120,0,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,b,21.08,10.085,y,p,e,h,1.25,f,f,0,f,g,260,0,-
686,a,22.67,0.750,u,g,c,v,2.00,f,t,2,t,g,200,394,-
687,a,25.25,13.500,y,p,ff,ff,2.00,f,t,1,t,g,200,1,-
688,b,17.92,0.205,u,g,aa,v,0.04,f,f,0,f,g,280,750,-
689,b,35,3.375,u,g,c,h,8.29,f,f,0,t,g,0,0,-

In [ ]:
# convert '+' to 1 and '-' to -1
df2['label'] = [-1 if x == '-' else 1 for x in df2['label']]
df2

,att1,att2,att3,att4,att5,att6,att7,att8,att9,att10,att11,att12,att13,att14,att15,label
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,202,0,1
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,43,560,1
2,a,24.5,0.500,u,g,q,h,1.50,t,f,0,f,g,280,824,1
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,100,3,1
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,120,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,b,21.08,10.085,y,p,e,h,1.25,f,f,0,f,g,260,0,-1
686,a,22.67,0.750,u,g,c,v,2.00,f,t,2,t,g,200,394,-1
687,a,25.25,13.500,y,p,ff,ff,2.00,f,t,1,t,g,200,1,-1
688,b,17.92,0.205,u,g,aa,v,0.04,f,f,0,f,g,280,750,-1
689,b,35,3.375,u,g,c,h,8.29,f,f,0,t,g,0,0,-1

In [ ]:
# delete rows that have '?'
indexQ = df2[ (df2['att1'] == '?') | (df2['att2'] == '?') | (df2['att4'] == '?') | (df2['att5'] == '?') | (df2['att6'] == '?') | (df2['att7'] == '?') ].index
df2.drop(indexQ , inplace=True)
df2 = df2.reset_index(drop=True)
df2

,att1,att2,att3,att4,att5,att6,att7,att8,att9,att10,att11,att12,att13,att14,att15,label
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,202,0,1
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,43,560,1
2,a,24.5,0.500,u,g,q,h,1.50,t,f,0,f,g,280,824,1
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,100,3,1
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,120,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654,b,21.08,10.085,y,p,e,h,1.25,f,f,0,f,g,260,0,-1
655,a,22.67,0.750,u,g,c,v,2.00,f,t,2,t,g,200,394,-1
656,a,25.25,13.500,y,p,ff,ff,2.00,f,t,1,t,g,200,1,-1
657,b,17.92,0.205,u,g,aa,v,0.04,f,f,0,f,g,280,750,-1
658,b,35,3.375,u,g,c,h,8.29,f,f,0,t,g,0,0,-1

In [ ]:
# cast att2 and att14 to numeric values
df2["att2"] = pd.to_numeric(df2["att2"])
df2["att14"] = pd.to_numeric(df2["att2"])
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 659 entries, 0 to 658
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   att1    659 non-null    object
 1   att2    659 non-null    float64
 2   att3    659 non-null    float64
 3   att4    659 non-null    object
 4   att5    659 non-null    object
 5   att6    659 non-null    object
 6   att7    659 non-null    object
 7   att8    659 non-null    float64
 8   att9    659 non-null    object
 9   att10   659 non-null    object
 10  att11   659 non-null    int64
 11  att12   659 non-null    object
 12  att13   659 non-null    object
 13  att14   659 non-null    float64
 14  att15   659 non-null    int64
 15  label   659 non-null    int64
dtypes: float64(4), int64(3), object(9)
memory usage: 82.5+ KB

In [ ]:
for col_name in df2.columns:
    if df2[col_name].dtypes == 'object':
        unique_cat = len(df2[col_name].unique())
        print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'att1' has 2 unique categories
Feature 'att4' has 3 unique categories
Feature 'att5' has 3 unique categories
Feature 'att6' has 14 unique categories
Feature 'att7' has 9 unique categories
Feature 'att9' has 2 unique categories
Feature 'att10' has 2 unique categories
Feature 'att12' has 2 unique categories
Feature 'att13' has 3 unique categories

In [ ]:
todummy_list = ['att1', 'att4', 'att5', 'att6', 'att7', 'att9', 'att10', 'att12', 'att13']

In [ ]:
# Function to dummy all the categorical variables used for modeling
def dummy_df(df, todummy_list):
    for x in todummy_list:
        dummies = pd.get_dummies(df[x], prefix=x, dummy_na=False)
        df = df.drop(x, 1)
        df = pd.concat([df, dummies], axis=1)
    return df

In [ ]:
df2 = dummy_df(df2, todummy_list)
df2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """

,att2,att3,att8,att11,att14,att15,label,att1_a,att1_b,att4_l,...,att7_z,att9_f,att9_t,att10_f,att10_t,att12_f,att12_t,att13_g,att13_p,att13_s
0,30.83,0.000,1.25,1,30.83,0,1,0,1,0,...,0,0,1,0,1,1,0,1,0,0
1,58.67,4.460,3.04,6,58.67,560,1,1,0,0,...,0,0,1,0,1,1,0,1,0,0
2,24.50,0.500,1.50,0,24.50,824,1,1,0,0,...,0,0,1,1,0,1,0,1,0,0
3,27.83,1.540,3.75,5,27.83,3,1,0,1,0,...,0,0,1,0,1,0,1,1,0,0
4,20.17,5.625,1.71,0,20.17,0,1,0,1,0,...,0,0,1,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
654,21.08,10.085,1.25,0,21.08,0,-1,0,1,0,...,0,1,0,1,0,1,0,1,0,0
655,22.67,0.750,2.00,2,22.67,394,-1,1,0,0,...,0,1,0,0,1,0,1,1,0,0
656,25.25,13.500,2.00,1,25.25,1,-1,1,0,0,...,0,1,0,0,1,0,1,1,0,0
657,17.92,0.205,0.04,0,17.92,750,-1,0,1,0,...,0,1,0,1,0,1,0,1,0,0
658,35.00,3.375,8.29,0,35.00,0,-1,0,1,0,...,0,1,0,1,0,0,1,1,0,0

In [ ]:
# Assign X as a DataFrame of features and y as a Series of the outcome variable
y = df2['label']
X = df2.drop('label', 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# Convert Pandas Dataframe to NumPy Array
X = X.to_numpy()
y = y.to_numpy()

In [ ]:
X_length, X_columns = X.shape
X_length

659

#Question 2 (Perceptron)

In [ ]:
class Perceptron:
    def __init__(self, n_iters=1000):
        self.n_iters = n_iters
        self.activation_func = self._unit_step_func
        self.weights = None

    def fit(self, X, y):
        n_samples, n_features = X.shape

        # init parameters
        self.weights = np.zeros(n_features)

        y_ = np.array([1 if i > 0 else -1 for i in y])

        for _ in range(self.n_iters):

            for idx, x_i in enumerate(X):

                linear_output = np.dot(x_i, self.weights)
                y_predicted = self.activation_func(linear_output)

                # Perceptron update rule
                if y_predicted != y_[idx]:
                    self.weights += y_predicted * x_i

    def predict(self, X):
        linear_output = np.dot(X, self.weights)
        y_predicted = self.activation_func(linear_output)
        return y_predicted

    def _unit_step_func(self, x):
        return np.where(x >= 0, 1, -1)

In [ ]:
# making predictions

def accuracy(y_true, y_pred):
    accuracy = np.sum(y_true == y_pred) / len(y_true)
    return accuracy

X_length, X_columns = X.shape
train_size = (int)(X_length * 0.8)

X_train = X[0:train_size]
X_test = X[train_size:]
y_train = y[0:train_size]
y_test =  y[train_size:]

p = Perceptron(n_iters=1000)
p.fit(X_train, y_train)
predictions = p.predict(X_test)
print("Perceptron classification accuracy:", accuracy(y_test, predictions))

Perceptron classification accuracy: 0.3787878787878788

# Question 3 (Linear Regression Binary Classification)

In [ ]:
class LinearRegression:
    def __init__(self, learning_rate=0.001, n_iters=1000):
        self.lr = learning_rate
        self.n_iters = n_iters
        self.weights = None
        self.bias = None

    def fit(self, X, y):
        n_samples, n_features = X.shape

        # init parameters
        self.weights = np.zeros(n_features)
        self.bias = 0

        # gradient descent
        for _ in range(self.n_iters):
            y_predicted = np.dot(X, self.weights) + self.bias
            # compute gradients
            dw = (1 / n_samples) * np.dot(X.T, (y_predicted - y))
            db = (1 / n_samples) * np.sum(y_predicted - y)

            # update parameters
            self.weights -= self.lr * dw
            self.bias -= self.lr * db

    def predict(self, X):
        y_approximated = np.dot(X, self.weights) + self.bias
        y_approximated = np.array([1 if i >= 0 else -1 for i in y_approximated])
        return y_approximated

In [ ]:
regressor = LinearRegression(learning_rate=0.01, n_iters=1000)
regressor.fit(X_train, y_train)
predictions_linear_regression = regressor.predict(X_test)
print("Linear Regression classification accuracy:", accuracy(y_test, predictions_linear_regression))

Linear Regression classification accuracy: 0.6212121212121212

# Question 4 (Voted Perceptron)

In [ ]:
# Utility function to join relevant information all together
def join(w, b, time_alive):
    perceptron = []
    perceptron.append(w)
    perceptron.append(b)
    perceptron.append(time_alive)
    return perceptron


# Utility function to extract data from perceptron's list
def extract_data(perceptron):
    w = perceptron[0]
    b = perceptron[1]
    weight = perceptron[2]
    return w, b, weight

# Voted perceptron train function
def voted_perceptron_train(data, labels, max_iter):
    w = np.zeros(len(data[0]))
    b = 0
    time_alive = 1
    perceptrons = []
    for iter in range(max_iter):
        for i in range(len(data)):
            x = data[i]
            y = labels[i]
            if y * (np.dot(x, w) + b) <= 0:
                perceptrons.append(join(w, b, time_alive))
                time_alive = 1
                delta = np.multiply(y, x)
                w = np.add(w, delta)
                b += y
            else:
                time_alive += 1
    perceptrons.append(join(w, b, time_alive))
    return perceptrons


# Voted perceptron prediction function
def voted_perceptron_predict(perceptrons, example):
    sum = 0
    for perceptron in perceptrons:
        w, b, weight = extract_data(perceptron)
        sum += weight * np.sign(np.dot(w, example))
    return np.sign(sum)

In [ ]:
def predictions_result(X_test):
    predictions = np.empty(0)
    for x in X_test:
        predictions = np.append(predictions, voted_perceptron_predict(voted_perceptrons, x))
    return predictions

In [ ]:
voted_perceptrons = voted_perceptron_train(X_train, y_train, 1000)
predictions_voted_perceptron = predictions_result(X_test)
print("Voted Perceptron classification accuracy:", accuracy(y_test, predictions_voted_perceptron))

Voted Perceptron classification accuracy: 0.6515151515151515

# Question 5 (SVM)

In [ ]:
class SVM:
    def __init__(self, learning_rate=0.001, lambda_param=0.01, n_iters=1000):
        self.lr = learning_rate
        self.lambda_param = lambda_param
        self.n_iters = n_iters
        self.w = None
        self.b = None

    def fit(self, X, y):
        n_samples, n_features = X.shape

        y_ = np.where(y <= 0, -1, 1)

        self.w = np.zeros(n_features)
        self.b = 0

        for _ in range(self.n_iters):
            for idx, x_i in enumerate(X):
                condition = y_[idx] * (np.dot(x_i, self.w) - self.b) >= 1
                if condition:
                    self.w -= self.lr * (2 * self.lambda_param * self.w)
                else:
                    self.w -= self.lr * (
                        2 * self.lambda_param * self.w - np.dot(x_i, y_[idx])
                    )
                    self.b -= self.lr * y_[idx]

    def predict(self, X):
        approx = np.dot(X, self.w) - self.b
        return np.sign(approx)

In [ ]:
clf = SVM()
clf.fit(X_train, y_train)
predictions_svm = clf.predict(X_test)
print("SVM classification accuracy:", accuracy(y_test, predictions_svm))

SVM classification accuracy: 0.6742424242424242

In [ ]:
print(clf.w, clf.b)

[-2.99530101e+00  2.17128632e+00  1.15117920e+01  6.86446807e+00
 -2.99530101e+00  2.61495733e+00  1.03675476e-01 -9.62697614e-01
  4.72298111e-02  1.04866631e+00 -1.95491826e+00  1.04866631e+00
  4.72298111e-02 -1.95491826e+00  1.58645521e-01 -5.24539276e-01
  8.20416735e-01 -1.13617401e-01 -1.86759781e-04 -1.15169947e+00
 -5.67447277e-01 -2.66821888e-01 -6.30994212e-01  3.11466548e-01
  8.23583516e-01 -4.72747134e-02 -3.54509420e-01  6.83955955e-01
 -1.92109165e-01 -9.47857484e-02 -1.19892836e+00  1.44402193e+00
 -1.71714498e-01 -8.89285285e-05 -1.89991742e-02 -5.31601236e-01
 -9.48169573e-02 -7.05464452e+00  6.19562238e+00 -1.68963017e+00
  8.30608031e-01 -1.35181427e+00  4.92792128e-01 -1.86050331e+00
  4.72293510e-02  9.54251825e-01] 9.467000000000192

# Question 6 (Soft Margin SVM)

In [ ]:
import cvxopt


class SVMSoftMargin():

    def __init__(self, C: float):
        self.C = C
        self._w = None
        self._b = None

    def train(self, X: np.ndarray, y: np.ndarray):
        n_samples, _ = X.shape
        # compute inputs for cvxopt solver
        K = (X * y[:, np.newaxis]).T
        P = cvxopt.matrix(K.T.dot(K)) # P has shape n*n
        q = cvxopt.matrix(-1 * np.ones(n_samples)) # q has shape n*1
        G = cvxopt.matrix(np.concatenate((-1*np.identity(n_samples), np.identity(n_samples)), axis=0))
        h = cvxopt.matrix(np.concatenate((np.zeros(n_samples), self.C*np.ones(n_samples)), axis=0))
        A = cvxopt.matrix(1.0 * y, (1, n_samples))
        b = cvxopt.matrix(0.0)
        # solve quadratic programming
        cvxopt.solvers.options['show_progress'] = False
        solution = cvxopt.solvers.qp(P, q, G, h, A, b)
        _lambda = np.ravel(solution['x'])
        # find support vectors
        S = np.where((_lambda > 1e-10) & (_lambda <= self.C))[0]
        self._w = K[:, S].dot(_lambda[S])
        M = np.where((_lambda > 1e-10) & (_lambda < self.C))[0]
        self._b = np.mean(y[M] - X[M, :].dot(self._w))

    def predict(self, X: np.ndarray) -> np.ndarray:
        """
        Return +1 for positive class and -1 for negative class.
        """
        results = np.sign(X.dot(self._w) + self._b)
        results[results == 0] = 1
        return results

In [ ]:
clf_soft_margin_svm = SVMSoftMargin(0.05)
clf_soft_margin_svm.train(X_train, y_train)
predictions_soft_margin_svm = clf_soft_margin_svm.predict(X_test)
print("Soft Margin SVM classification accuracy:", accuracy(y_test, predictions_soft_margin_svm))

Soft Margin SVM classification accuracy: 0.946969696969697

# Question 7 (Scikit-learn SVM)

In [ ]:
# import support vector classifier 
# "Support Vector Classifier"
from sklearn.svm import SVC  
clf_sklearn = SVC(kernel='linear') 
  
# fitting x samples and y classes 
clf_sklearn.fit(X_train, y_train)
predictions_sklearn = clf_sklearn.predict(X_test)

In [ ]:
print("ScikitLearn SVM classification accuracy:", accuracy(y_test, predictions_sklearn))

ScikitLearn SVM classification accuracy: 0.9393939393939394